.gallery-section {
  padding: 80px 40px;
  background: #000;
  color: white;
  text-align: center;
}

.gallery-section h2 {
  margin-bottom: 40px;
}

/* GRID IRREGULAR */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 180px;
  gap: 12px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* com o objetivo de preencher todo o espaço */
  transition: 0.4s ease;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

/*  AQUI QUE ENTRA O ARRAY DOS SIZES TAMANHOS DIFERENTES */
.gallery-item.big {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery-item.wide {
  grid-column: span 2;
}

.gallery-item.tall {
  grid-row: span 2;
}

.gallery-item.normal {
  grid-column: span 1;
  grid-row: span 1;
}

/* MOBILE */
@media (max-width: 600px) {
  .gallery-item.big,
  .gallery-item.wide,
  .gallery-item.tall {
    grid-column: span 1;
    grid-row: span 1;
  }
}