/* RESET IMPORTANTE */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
  padding: 20px 40px;
  box-sizing: border-box; 
}

/* para o efeito scroll */
.navbar.scrolled {
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(8px);
  padding: 12px 40px;
}


.navbar-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}


.navbar-links {
  display: flex;
  gap: 24px;
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  transition: 0.3s;
}

.navbar-links li a:hover {
  color: #ccc;
}

/* hamburguer */
.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 6px;
  line-height: 1;
}

/*  MOBILE */
@media (max-width: 768px) {

  .navbar {
    padding: 15px 16px; 
  }

  .navbar.scrolled {
    padding: 10px 16px;
  }

  .menu-toggle {
    display: block;
    color: white;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background: rgba(0,0,0,0.95);

    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: 0.3s;
  }

  .navbar-links.active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }
}