.quote-section {
  background: #000;
  overflow: hidden;
  padding: 60px 0;
}

/* container */
.quote-track {
  display: flex;
  width: max-content; 
  animation: scroll 30s linear infinite;
}

/* palavras */
.quote-word {
  margin-right: 60px;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.1);
  font-weight: bold;
  white-space: nowrap; 
  transition: 0.3s;
}

.quote-word:hover {
  color: white;
  transform: scale(1.1);
}

@keyframes scroll {
  /* translateX é move elementos horizontalmente  */
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
    /* aqui faz com que as frases vao da direita para esquerda  */
  }
}